node_modules/
ios/
android/
.DS_Store
*.log
.env
.env.local
dist/
build/
.vscode/
.idea/
*.iml
.gradle/
local.properties
key.properties
*.keystore
*.jks
*.mobileprovision
*.p12
*.cer

.vercel
server/node_modules
server/db.json
